@model Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Mesaj Detay Sayfası</h1>
<hr />

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
            <input type="hidden" name="BlogId" value="@Model.MessageId" />
            <div class="form-group">
                <label asp-for="Subject"><b> Başlık: </b>  </label>
                <input asp-for="Subject" class="form-control" value="@Model.Subject" />
       

            </div>

        
            <div class="form-group">
                <label asp-for="MessageDetail"><b>  Mesaj Detay: </b>  </label>
                <input asp-for="MessageDetail" class="form-control" value="@Model.MessageDetail" />
              

            </div>
          
            <a href="/Message/Inbox/" class="btn btn-success btn-sm">Mesajlara Dön</a>

        </div>
        <br />
    </div>




