@model IEnumerable<Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>

  
        @foreach (var comment in Model)
        {
            <div class="media">

                <img src="~/web/images/t1.jpg" alt="" class="img-fluid" />

                <div class="media-body">
                    <h5 class="mt-0">@comment.CommentUserName</h5>
                    <p>
                        @comment.CommentContent
                    </p>
                    <br />
     

                    </div>
               
            </div>
        }
 
    

    </div>
   