
@{
    ViewData["Title"] = "CommentListByBlog";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@*<h1>CommentListByBlog</h1>
<partial name="~/Views/Shared/PartialViews/_CommentListByBlogPartialView.cshtml" />*@
