@model Writer
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<form method="post" asp-controller="Writer" asp-action="WriterEditProfile" enctype="multipart/form-data">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>


                @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })

                <div class="form-group">
                    <label asp-for="WriterName"> <b>Yazar Adı Soyadı:</b></label>
                    <input asp-for="WriterName" type="text" class="form-control" />
                    <span asp-validation-for="WriterName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WriterMail"> <b>Mail:</b></label>
                    <input asp-for="WriterMail" type="email" class="form-control" />
                    <span asp-validation-for="WriterMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WriterPassword"> <b>Şifre:</b></label>
                    <input asp-for="WriterPassword" class="form-control" />
                    <span asp-validation-for="WriterPassword" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="WriterImage"> <b>Resim:</b></label>
                    <input type="file" name="file" class="form-control" />
                </div>
                <div>
                    <label asp-for="WriterAbout"> <b>Yazar Hakkında:</b></label>
                    <textarea asp-for="WriterAbout" class="form-control"></textarea>
                    <span asp-validation-for="WriterAbout" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                <button class="btn btn-light">İptal</button>

            </div>
        </div>
    </div>


</form>
