@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Kategori Ekleme Sayfası</h1>
<br />
<form method="post" asp-controller="Category" asp-action="AddCategory">
    <div>
        <div>
            <label asp-for="CategoryName"> <b>Kategori Adı:</b></label>
            <input asp-for="CategoryName" type="text" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>

            <br />
            <br />

            <label asp-for="CategoryDescription"> <b>Açıklama:</b></label>
            <textarea asp-for="CategoryDescription" class="form-control"></textarea>
            <span asp-validation-for="CategoryDescription" class="text-danger"></span>

        </div>
    </div>

    <br>

    <button type="submit" href="/Category/AddCategory/" class="btn btn-outline-success"><b>Kategori Oluştur</b></button>
    <br />


</form>

