@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered  table table-hover">
    <tr>
        <th>ID</th>
        <th>Kategori</th>

       
        <th>Detaylar</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
     
            <td><a href="#" class="btn btn-primary"> <b>Detaylar</b></a></td>
            <td><a href="#" class="btn btn-outline-danger"> <b>Aktif Yap</b></a></td>
            <td><a href="#" class="btn btn-outline-warning"> <b>Pasif Yap</b></a></td>
        </tr>
    }
</table>

<br />
<a href="#" class="btn btn-primary">Yeni Kategori Ekle</a>
<br />

<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new  {page  }))

