
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Blog Başlık Listesi Excel Pdf</h1>
<br />
<a href="/Admin/Blog/ExportDinamicExelBlogList" class="btn btn-primary">Excel Listesini Indir</a>


